*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

/* 
  Le code ci-dessous permet de retirer 
  les animations pour les personnes qui ont décidé de les désactiver 
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

img {
  max-width: 100%;
}

.conteneur-1280 {
  max-width: 1280px;
  padding: 0 0.8rem;
  margin: 0 auto;
}

.navigation-principale ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 2.625rem;
  font-size: 1.05rem;
}

.titre-page {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1.375rem;
  max-width: 800px;
}

.pied-de-page-principal {
  text-align: center;
  color: #707070;
  font-size: 1.05rem;
  margin-bottom: 2rem;
  margin-top: 9.125rem;
}

button {
  background: transparent;
  border: none;
}

.navigation-principale .lien-admin {
  background-color: black;
  padding: 0 0.5rem 0.5rem;
}

.navigation-principale .lien-admin a {
  color: aliceblue;
}

.pied-de-page-principal .lien-admin {
  color: black;
}

.texte-gras {
  font-weight: bold;
}

.youtube-video-conteneur {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-conteneur::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-conteneur iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}