.bulle {
  position: relative;
  margin-bottom: 4.25rem;
  margin-top: 4.75rem;
}

.bulle .titre {
  font-family: "Times New Roman", Times, serif;
  text-align: right;
  width: 50.78125%;
  font-weight: bold;
}

.bulle .txt-grand {
  font-size: 4rem;
  color: black;
}

.bulle .txt-grand span,
.bulle .txt-petit span {
  display: block;
  background-color: #fafafa;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  /* width: fit-content; */
}

.bulle .txt-petit {
  color: black;
  font-size: 2.25rem;
}

.bulle-icone.rose {
  background-color: #ef509f;
}

.bulle-icone.rouge {
  background-color: #eb0706;
}

.bulle-icone.vert {
  background-color: #0ceec0;
}

.bulle-icone.jaune {
  background-color: #ffe700;
}

.bulle-icone {
  position: absolute;
  top: -46px;
  right: 200px;
  z-index: -1;
  width: 484px;
  height: 400px;
  transition: transform 0.3s;
  mask: url("../../images/bulle.svg") no-repeat center / contain;
  -webkit-mask: url("../../images/bulle.svg") no-repeat center / contain;
}

.bulle-icone-bordure {
  position: absolute;
  top: -60px;
  right: 200px;
  z-index: -1;
  width: 450px;
  height: 410px;
  transition: transform 0.3s;
  mask: url("../../images/bulle-bordure.svg") no-repeat center / contain;
  -webkit-mask: url("../../images/bulle-bordure.svg") no-repeat center / contain;
}

.bulle-icone-bordure.rose {
  background-color: #a50253;
}

.bulle-icone-bordure.rouge {
  background-color: #a50253;
}

.bulle-icone-bordure.vert {
  background-color: #03886d;
}

.bulle-icone-bordure.jaune {
  background-color: #ee8f00;
}

.bulle:hover .bulle-icone-bordure {
  transform: translate(-30px, 4px);
}

.bulle:hover .bulle-icone {
  transform: translate(5px, -6px);
}
